default_language_version:
  python: python
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-merge-conflict
    - id: debug-statements
      stages: [pre-commit]
      exclude: ChangeLog-spell-corrected.diff
    - id: end-of-file-fixer
      stages: [pre-commit]
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        stages: [pre-commit]
# -   repo: https://github.com/psf/black
#     rev: 25.11.0
#     hooks:
#     - id: black
#       language_version: python3
#       stages: [pre-commit]
#       additional_dependencies: ["click"]
